<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/bootstrap1/css/bootstrap.css" rel="stylesheet"/>
    <link href="~/CSS/site.css" rel="stylesheet"/>

</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @RenderSection("Scripts",false)
    <script src="~\js\Customerjs.js"></script>
</body>
</html>
